<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KongSight"
        tools:targetApi="31">

        <!-- 主Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 页面4：景点信息页 -->
        <activity
            android:name=".AttractionDetailActivity"
            android:label="@string/attraction_detail"
            android:exported="false" />

        <!-- 页面5：周边信息页 -->
        <activity
            android:name=".NearbyPoiActivity"
            android:label="@string/nearby_info"
            android:exported="false" />

        <activity
            android:name=".HomePageActivity"
            android:label="香港旅游资讯"
            android:exported="false" />

        <!-- 在 application 标签内添加 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCzoBGXg-sIi_TEiuBiDmdUalBz2frZseI" />

        <!-- 页面6：编辑个人信息页  -->
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/edit_profile"
            android:exported="false" />

        <!-- 页面7：管理员用户管理页面 -->
        <activity
            android:name=".AdminUserManageActivity"
            android:exported="false"
            android:label="Admin User Manage" />


    </application>

</manifest>